body {
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	font-size: 0.8em;
	background-color: #D8DAD9;
}

.page{
	width: 1152px;
	margin:0 auto;
	background-image: url("images/background.jpg");
	padding-bottom: 20px;
}

.pageheader{
	background-image: url("images/header.jpg");
	width: 1046px;
	height: 114px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.header:before{
	content:url("logo/png/slimp-azur_logo_mini.png");
	height: 84px;
	width:75px;
	float:left;
	margin-right:10px;
	position:relative;
	top:-25px;
}

.header{
	margin: 0;
	padding-top: 40px;
	font-size: 2em;
	color: white;
#	position: absolute;
#	top: 60px;
	margin-left: 20px;
}

.title {
    color: white;
    position: relative;
    top: 25px;
}

.parentlinks {
    color: white;
    font-size: 0.5em;
    height: 1px;
    max-width: 600px;
    position: relative;
    top: -30px;
}

.parentlinks a:visited{
	color: white;
}

.sidebar{
	float: left;
	width: 211px;
    background: none repeat scroll 0 0 white;
    border: 0px none;
    color: none;
    margin-bottom: -200px;
    margin-left: 53px;
    margin-top: 15px;
    padding: 0 0ex;
}

div.navi{
	background-color: #d7d9d9;
	width: 211px;
	color: #074c70;
	line-height: 1.6em;
}

ul.navi{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navi li{
	background-image: url("images/navi_normal.jpg");
	height: 34px;
	padding-left: 27px;
	line-height: 34px;
	width: 185px;
}

.navi li a{
	color: #074c70;
}

.navi li:hover a{
		color: white;
		text-decoration:underline;
}

.navi li:hover{
	background-image: url("images/navi_active.jpg");
	color:white;
}

.navi li.top{
	background: url("images/navi_active.jpg") repeat-x;
	font-size: 1.0em;
	font-weight: bold;
	color: white;
	padding-left:8px;
	width:204px;
}

ul.navi a{
	text-decoration: none;
}

#pagebody{
	background-image: url("images/content_background.jpg");
	width: 1046px;
	min-height:200px;
	margin: 0 auto;
}

#pagebody:before{
        content: url("images/content_top.jpg");
        width: 1046px;
        height: 4px;
}


#content{
    margin-left: 222px;
	width: 815px;
	padding-bottom: 15px;
	margin-bottom: -13px;
}

#right{
	float: right;
}

.contentbox_top{
	background-image: url("images/contentbox_top.jpg");
	width: 778px;
	height: 19px;
	clear: both;
	margin-bottom: 1px;
	color: white;
	padding-left: 9px;
	padding-top: 3px;
	line-height: 19px;
}

.comments{
	float: right;
	margin-top: 18px;
}

.commentbox_center{
	background-image: url("images/comment_box_center.jpg");
	height: 23px;
	float: left;
	color: white;
	line-height: 20px;
	padding-top: 2px;
}

.commentbox_left{
	width: 10px;
	height: 25px;
	background-image: url("images/commentbox_left.jpg");
	float: left;
}

.commentbox_right{
	background-image: url("images/comment_box_right.jpg");
	width: 10px;
	height: 25px;
	float: left;
}

.contentarea{
	width: 777px;
	background-color: #a3c0ce;
	padding: 5px;
	line-height: 1.4em;
}

.post{
	width: 787px;
	margin-right: 20px;
}

.content_bottom{
	width: 779px;
	height: 19px;
	background-image: url("images/contentbox_bottom.jpg");
	margin-bottom: 20px;
	color: white;
	text-align: right;
	padding-right: 8px;
	padding-top: 2px;
	float: right;
	line-height: 19px;
}

.content_autor{
	color: white;
	text-align: left;
	float: left;
	padding-left: 9px;
}

#footer{
	clear: both;
	width: 1046px;
	height: 21px;
	#background-image: url("images/footer.jpg");
	margin: 0 auto;
	text-align: center;
	color: white;
	padding-top: 3px;
}

#footer a{
	color: white;
}

#footer:after{
        content: url("images/bottom.jpg");
	width: 1046px;
	float: left;
	margin-left: -53px;
}

.pagedate, .pagelicense, .pagecopyright, #backlinks {
    margin-top: 0;
}

.actions{
	color: white;
	float: right;
	margin-right: 40px;
	margin-top: 20px;
}

.pageheader .actions ul {
        border-bottom: none;
}

.actions a{
	color: #474747;
	text-decoration: none;
}

.actions ul li:hover {
    background: #cbe0f5;
}

#pagebody a {
	color: #074c70;
}

.actions ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
    padding-top: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-bottom: 3px;
    font-size: 10px;
    line-height: 15px;
    background: white;
    -moz-border-radius: 0 0 0.8em 0.8em;
    -webkit-border-radius: 0 0 0.8em 0.8em;
    border-radius: 0.8em 0.8em 0 0;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    box-shadow: 1px -1px 3px #cecece;
}

div.post h2{
	color: #074c70;
	margin: 0;
	font-size: 1.8em;
	float: left;
}


#pageinfo {
    background-image: url("images/footer.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top: 0px none;
    margin: 0 -2px 0 0;
}

#searchform {
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    background: none repeat scroll 0 0 white;
    color: black;
    display: inline-block;
    float: right;
    font-weight: normal;
    padding: 0 20px 0 10px;
    margin-top: -20px;
}

#searchform div {
    font-size: 13px;
    line-height: 27px;
}

#searchform div:before {
    content: "Cerca nel Wiki";
}

#searchform div input#searchbox {
    margin-left: 5px;
}

#searchform #searchbox,
#searchform input {
    border: 1px dotted #474747;
    width: 15em;
    background: #FFFFFF url(wikiicons/search-bg.gif) no-repeat scroll right -1px;
    color:#000000;
}

#searchform input {
    font-size: 12px;
}

table, th, td
{
	border: 1px solid gray;
}
